<div class="row">
    <div class="col">
      <h1 class="display-2">Movies by actor</h1>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Genre</th>
            <th scope="col">Director</th>
            <th scope="col">Actor</th>
            <th scope="col">Description</th>
            <th scope="col">Release date</th>
            <th scope="col">Review</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let movie of movies" (click)="onSelectMovie(movie)" [class.table-info]="movie === selectedMovie" >
            <th scope="row">{{ movie.title }}</th>
            <td>{{ movie.genres[0].name }}</td>
            <td>{{ movie.director.name }}</td>
            <td>{{ movie.actors[0].name }}</td>
            <td>{{ movie.description }}</td>
            <td>{{ movie.releaseDate }}</td>
            <td>{{ movie.reviews[0].review }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <button mat-raised-button routerLink="/actors">Back</button>


 
