<form (submit)="submit(movieForm)" #movieForm="ngForm">
        <div class="form-group">
                <mat-form-field>
                      <input
                      name="title"
                      [(ngModel)]="model.title"
                      matInput type="text"
                      aria-describedby="titleHelp"
                      placeholder="Enter title"
                      required
                      #title="ngModel"
                    >
                    <mat-error *ngIf="title.invalid && (title.dirty || title.touched) && title.errors.required">
                      Title is required!
                    </mat-error>
                </mat-form-field>
        </div>

        <div class="form-group">
          <!-- <small id="descriptionHelp" class="form-text text-muted">The error details</small> -->
          <mat-form-field>
                <textarea name="description" [(ngModel)]="model.description" matInput aria-describedby="descriptionHelp" placeholder="Enter movie description"></textarea>
          </mat-form-field>
        </div>

        <div class="form-group">
                <mat-form-field>
                    <input
                        name="releaseDate"
                        [(ngModel)]="model.releaseDate"
                        matInput type="text"
                        aria-describedby="releaseDateHelp"
                        placeholder="Enter Release Date"
                        required
                        #releaseDate="ngModel"
                    >
                    <mat-error *ngIf="releaseDate.invalid && (releaseDate.dirty || releaseDate.touched) && releaseDate.errors.required">
                        Release date is required!
                    </mat-error>
                </mat-form-field>
            </div>         
        
        <button [disabled]="!movieForm.valid" type="submit" mat-raised-button color="primary">Save movie</button></form>